# ---------------------------------
# Database
# ---------------------------------
DATABASE_HOST=db-container
DATABASE_NAME=xxxxxx
DATABASE_USER=xxxxxx
DATABASE_PASSWORD=xxxxxx
DATABASE_ROOT_PASSWORD=xxxxxx

# MySQL Version
# Supported MySQL versions: 5.7, 8.0, 8.1, ..., latest etc.
MYSQL_VERSION=8.0
TABLE_PREFIX=wp_
TIME_ZONE=Asia/Tokyo

# ---------------------------------
# Application
# ---------------------------------
DEBUG_MODE=1
WEB_PORT=8000

# PHP Ver.
# usage 8.4~8.0|7.4 or lower...
APP_PHP_VERSION=8.4

# ---------------------------------
# Mail
# ---------------------------------
MAIL_HOST=mail-container
MAIL_PORT=1025
MAIL_USERNAME=xxxxxx
MAIL_PASSWORD=xxxxxx
